# Server Configuration
HOST=0.0.0.0
PORT=8000
DEBUG=True
RELOAD=True

# Data Directory
# TIF_DIR=data/tif_files

# CORS Settings
# CORS_ORIGINS=["http://localhost:3000", "http://localhost:19006"]

# PM2.5 Settings
DEFAULT_COLORMAP=aqi
DEFAULT_OPACITY=0.6
